*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#wrapper{
	width: 100vw;
	height: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.time{
	font-size: 5rem;
	text-shadow: 6px 2px 2px #a3a3a3;
	font-weight: 700;
}
.btn button{
    padding: 0.7rem 2rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
}